<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="https://www.flaticon.com/svg/static/icons/svg/526/526190.svg" type="image/x-icon">
    <title>Foodfy - Home</title>
</head>

<body>
    <header>
        <nav>
            <a href="index.html" id="title">
                Foodfy
            </a>
            <a href="about.html" id="about">
                Sobre
            </a>
            <a href="recipes.html" id="recipes">
                Receitas
            </a>
        </nav>
    </header>

    <div class="presentation">
        <div class="description">
            <h1>
                As melhores receitas
            </h1>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>

        <div class="chef">
            <img src="chef.png" alt="chef">
        </div>
    </div>

    <div class="most-acess">
        <div class="title__most-acess">
            <h1>
                Mais acessadas
            </h1>
        </div>

        <div class="recipes">
            <div class="recipe">
                <img src="burger.png" alt="burger">
                <div>
                    <h2>
                        Triplo bacon Burger
                    </h2>
                    <p>
                        por Jorge Relato
                    </p>
                </div>
            </div>


            <div class="recipe">
                <img src="pizza.png" alt="pizza">
                <div>
                    <h2>
                        Pizza 4 estações
                    </h2>
                    <p>
                        por Fabiana Melo
                    </p>
                </div>
            </div>

            <div class="recipe">
                <img src="espaguete.png" alt="espaguete">
                <div>
                    <h2>
                        Espaguete ao alho
                    </h2>
                    <p>
                        por Júlia Kinoto
                    </p>
                </div>
            </div>

            <div class="recipe">
                <img src="lasanha.png" alt="lasanha">
                <div>
                    <h2>
                        Lasanha mac'n cheese
                    </h2>
                    <p>
                        por Juliano Vieira
                    </p>
                </div>
            </div>

            <div class="recipe">
                <img src="doce.png" alt="doce">
                <div>
                    <h2>
                        Docinhos pão-do-céu
                    </h2>
                    <p>
                        por Ricardo Golvea
                    </p>
                </div>
            </div>

            <div class="recipe">
                <img src="asinhas.png" alt="asinhas de frango">
                <div>
                    <h2>
                        Asinhas de frango ao barbecue
                    </h2>
                    <p>
                        por Vania Steroski
                    </p>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <p>
            Todos os direitos reservados, receitas Foodfy.
        </p>
    </footer>

    <script src="../static/main.js"></script>
</body>

</html>