<!DOCTYPE html>
<html>
    <head>
        <title>{{ item.title }}</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <nav>
                <a href="/" id="title">
                    Foodfy
                </a>
                <a href="/about" id="about">
                    Sobre
                </a>
                <a href="/recipes" id="recipes">
                    Receitas
                </a>
            </nav>
        </header>

        <section>
            <div id="img-header-recipe">
                <img src="{{ item.image }}" alt="{{ item.title }}">
            </div>

            <div id="about-author">
                <h1>{{ item.title }}</h1>
                <h3>por
                    {{ item.author }}</h3>
            </div>

            <div class="recipe-infos">
                <div>
                    <h2>Ingredientes</h2>
                    <span onclick="hideOrShow('teste1'),toggleText('ingredients')" id="ingredients">MOSTRAR</span>
                </div>
                <ul id="teste1">
                    {% for i in item.ingredients %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="recipe-infos">
                <div>
                    <h2>Modo de preparo</h2>
                    <span onclick="hideOrShow('teste2'), toggleText('preparation')" id="preparation">MOSTRAR</span>
                </div>
                <ul id="teste2">
                    {% for i in item.preparation %}
                        <li>{{ i }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="recipe-infos">
                <div>
                    <h2>Informações adicionais</h2>
                    <span onclick="hideOrShow('teste3'), toggleText('informations')" id="informations">MOSTRAR</span>
                </div>
                <p id="teste3">{{ item.information }}</p>
            </div>

        </section>

        <footer>
            <p>
                Todos os direitos reservados, receitas Foodfy.
            </p>
        </footer>

        <script src="/main.js"></script>
    </body>
</html>